<!-- <div class="row"> -->
  <div class="col-8">

    <div class="card">
      <div class="card-header bg-success text-white">
        <button class="btn btn-success" (click)="startIncrementing()">Increment Count</button>
        <h6>Employee List ({{ count$ | async }})</h6>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email-Id</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index){
                  <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{item.name | titlecase}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.emailId}}</td>
                  <td class="text-center">
                    <button class="btn btn-warning" (click)="onEdit(item)">Edit</button>
                    <button class="btn btn-danger mx-2"(click)="onDelete(item.empId)" >Delete</button>

                  </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            
            <div class="col-6">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control" />
              
              <div class="text-danger" *ngIf="employeeForm.controls['name'].touched && employeeForm.controls['name'].invalid">
                <span *ngIf="employeeForm.controls['name'].errors?.['required']">Name is required</span>
              </div>
            </div>
        
            
            <div class="col-6">
              <label for="emailId">Email-Id</label>
              <input type="text" formControlName="emailId" class="form-control" />
              
              <div class="text-danger" *ngIf="employeeForm.controls['emailId'].touched && employeeForm.controls['emailId'].invalid">
                <span *ngIf="employeeForm.controls['emailId'].errors?.['required']">Email is required</span>
                <span *ngIf="employeeForm.controls['emailId'].errors?.['email']">Invalid email format</span>
              </div>
            </div>
        
            
            <div class="col-6">
              <label for="contactNo">Contact No</label>
              <input type="text" formControlName="contactNo" class="form-control" />
              
              <div class="text-danger" *ngIf="employeeForm.controls['contactNo'].touched && employeeForm.controls['contactNo'].invalid">
                <span *ngIf="employeeForm.controls['contactNo'].errors?.['required']">Contact No is required</span>
                <span *ngIf="employeeForm.controls['contactNo'].errors?.['pattern']">Invalid Contact No</span>
              </div>
            </div>
        
            
            <div class="col-6">
              <label for="city">City</label>
              <input type="text" formControlName="city" class="form-control" />
              <div class="text-danger" *ngIf="employeeForm.controls['city'].touched && employeeForm.controls['city'].invalid">
                <span *ngIf="employeeForm.controls['city'].errors?.['required']">CIty is required</span>
              </div>
            </div>
        
            
            <div class="col-6">
              <label for="state">State</label>
              <input type="text" formControlName="state" class="form-control" />
              
              <div class="text-danger" *ngIf="employeeForm.controls['state'].touched && employeeForm.controls['state'].invalid">
                <span *ngIf="employeeForm.controls['state'].errors?.['required']">State is required</span>
              </div>
            </div>
        
            
            <div class="col-6">
              <label for="pinCode">Pin Code</label>
              <input type="text" formControlName="pinCode" class="form-control" />
              
              <div class="text-danger" *ngIf="employeeForm.controls['pinCode'].touched && employeeForm.controls['pinCode'].invalid">
                <span *ngIf="employeeForm.controls['pinCode'].errors?.['required']">Pin Code is required</span>
                <span *ngIf="employeeForm.controls['pinCode'].errors?.['minlength']">Min 6 characters required</span>
                <span *ngIf="employeeForm.controls['pinCode'].errors?.['maxlength']">Max 6 characters allowed</span>
              </div>
            </div>
        
            
            <div class="col-12">
              <label for="address">Address</label>
              <textarea formControlName="address" class="form-control"></textarea>
              
              <div class="text-danger" *ngIf="employeeForm.controls['address'].touched && employeeForm.controls['address'].invalid">
                <span *ngIf="employeeForm.controls['address'].errors?.['required']">Address is required</span>
              </div>
            </div>
        
            
            <div class="row pt-2">
              <div class="col-6 text-center">
                <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset</button>
              </div>
              <div class="col-6 text-center">
                <button
                  class="btn btn-success"
                  type="button"
                  *ngIf="!employeeForm.controls['empId'].value || employeeForm.controls['empId'].value  == 0"
                  (click)="onSave()"
                >
                  Save Employee
                </button>
                <button
                  class="btn btn-success"
                  type="button"
                  *ngIf="employeeForm.controls['empId'].value && employeeForm.controls['empId'].value !== 0"
                  (click)="onUpdate()"
                >
                  Update Employee
                </button>
              </div>
            </div>
          </div>
        </form>
        

        </div>
      </div>
    </div>

    <!-- <div class="form-control">
      <input [(ngModel)]="name" type="search" class="form-control"  >
    </div>

    <textarea >{{name}} </textarea>

    <app-api-integration></app-api-integration> -->
      
      
  
